<h1>New Event</h1>
<%= form_with model: @event do |form| %>  
  <%= form.label :location %>
  <%= form.text_field :location %>

  <%= form.label :date %>
  <%= form.date_field :date %>

  <%= form.label :time %>
  <%= form.time_field :time %>

  <%= form.submit %>
<% end %> 
